<!DOCTYPE html>
<html>
<head>
	<title>Look.</title>

	<link rel="stylesheet" type="text/css" href="/CSS/layout.css" media="screen" />
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
<script src="JS/angular.min.js"></script>
<script src="JS/directives.js"></script>
<script src="JS/look.js"></script>

</head>

<body ng-app="look">
<div ng-controller="work" ng-init="init()">

<div ng-repeat="work in works">
	<div class="colmask threecol" >
		<div class="colmid">
			<div class="colleft">
				<div class="col1">
					<!-- Column 1 start -->
					<br />
					<p>{{work.workdesc}}</p>
										<p>
						<span style="color:green;font-weight:800;" ng-if="work.expenses">{{work.expenses}}</span>
					</p>

					<!-- Column 1 end -->
				</div>
				<div class="col2">
					<!-- Column 2 start -->
					<h3>{{work.date}} <br /> {{work.title}}</h3>
					<p>The CSS used for this layout is 100% valid and hack free. To overcome Internet Explorer's broken box model, no horizontal padding or margins are used in conjunction with a width. </p>


					<!-- Column 2 end -->
				</div>
				<div class="col3">

				<p>Aufwand {{work.hours}} <br /> Kosten {{work.cost}} - <span style="color:green;font-weight:800;" ng-if="work.paid">Bezahlt</span> </p>	
				

					<!-- Column 3 start -->
	</div></div></div></div>
</div>
</div>


</body>
</html>