.title {
font-family: 'Patua One', cursive;
color:#d54747;
font-size: 30px;
}

.title-line {
font-family: 'Patua One', cursive;
color:grey;
font-size: 30px;
}

 body {
font-family: Helvetica;

}


#selected {
font-weight:bold;

}



html, body {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}
#top {
    position: absolute;
}
h1, p {
    margin: 0;
    padding: 0.3em 0;
}
#container {

    min-height: 100%;
    margin-bottom: -36px;
}
* html #container {
    height: 100%;
}
#footer-spacer {
    height: 36px;
}
#footer {
    border-top: 1px solid #000;
    height: 35px;
    background-color:#777575;
    font-size:12px;
}


#footertext {
padding-top:5px;
color:white;
font-weight:bold;
text-decoration:none;
}

#footertext a:hover {
padding-top:5px;
color:white;
font-weight:bold;text-decoration:underline;
}

.subtitles
{
font-size:13px;
}

.Quality
{
font-size:13px;
color: #7e6e6e;
}

#Go {
-moz-user-select: none;
    border-radius: 2px 2px 2px 2px;
    cursor: default !important;
    display: inline-block;
    font-weight: bold;
    height: 29px;
    line-height: 29px;
    min-width: 54px;
    padding: 0 8px;
    text-align: center;
    text-decoration: none !important;
background-color: #D54747;
    background-image: -moz-linear-gradient(center top , #D54747, #d53e3e);
    border: 1px solid #d54f4f;
    color: #FFFFFF !important;
   float:right;
    margin-right:140px

}
