<div class="colmask threecol" ng-repeat="d in data | filter:searchText">
	<div class="colmid">
		<div class="colleft">
			<div class="col1">
				<!-- Column 1 start -->
{{d.workdesc}}
				<!-- Column 1 end -->
			</div>
			<div class="col2">
				<!-- Column 2 start -->
				<b>{{d.date}} </b> <br/>  {{d.title}}

				<!-- Column 2 end -->
			</div>
			<div class="col3">
				<!-- Column 3 start -->
{{d.hours}}<br />
{{d.cost}}
				<!-- Column 3 end -->
				<div id="ads">

				</div></div></div></div></div>

